referencias/*-v1.jpg
referencias/*-v2.jpg
referencias/*-full.jpg
capturas/qa-si-r*/**/*full*.png
capturas/qa-si-r*/
capturas/**/*.png
referencias/studio-iron-v3/**/*full*.jpg
referencias/studio-iron-v3/**/*.png
referencias/studio-iron-v3/**/*.jpg
!referencias/studio-iron-v3/**/*v0*.jpg
